html{
   
    color: black;
    background-color: black;
}

.footer{
    background-color: #F5EFE7;
    
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding-bottom: 10px;
    margin-bottom: -10px;
    padding-right: 8px;
    border-top: solid;
    
   
}
.ftit{
    font-size: 1.4rem;
}

.fotcont{
    display: flex;
    font-weight: 900;
    justify-content: space-between;

}
.navm{
    position: fixed;
}
.fi{
    width: 80px;
}
.last{
    align-self: center;
}

.nav-container{
    background-color: #F5EFE7;
    margin: -10px 0px 0px -6px;
    position: fixed;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 2fr ;
    width: 100%;
}



.navitm{
    grid-area: 1/6/1/7;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 10px;
   
}

a{
    text-decoration: none;
    color: rgb(119, 119, 119);
}

.nt{
    border-right: solid;
    padding-right: 10px;
}


.title{
    font-size:1.4rem;
    margin-bottom: -20px;
    margin-top: -15px;
    color: rgb(83, 78, 78);
    padding-left: 10px;
}

.Mcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    max-height: fit-content;

    
}
.bii{
    
    margin-bottom: -4.5px;
    height: 100%;
    max-height: 700px;
    width: 100%;
}

.submain{
    text-align: center;
    align-self:center;
    margin-right: 12%;
}



h1{
   
    font-size: 600%;
}

.logo{
    height: 10rem;
}


.main{
    background: linear-gradient(125deg,#78BEFF,#FFF7AD);
    animation: gradient-animation 5s ease infinite;
    background-size: 180% 180%;
}

.subtitle{
    font-size: 2rem;
}



@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




.Feature{
    background: linear-gradient(125deg,#FFF5C4,#C47869);
    animation: gradient-animation 5s ease infinite;
    background-size: 180% 180%;
    margin-top: 0.4%;
    padding-bottom: 10px;
}



.Stay{
    background: linear-gradient(125deg,#FFF7AD,#FFA9F9);
    animation: gradient-animation 5s ease infinite;
    background-size: 180% 180%;
    margin-top: 0.4%;
    
    
}



.point{
    font-size: 4em;
    margin: 0%;
    text-align: center;
    text-decoration: underline;  
    color: black;
}
.card{
    
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 25%;
    max-width: 290px;
    padding: 10px;
    border-radius: 10px;
    min-width: 280px;
    gap: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.cardc{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
    
}

.icard{
    height:160px;
    border: solid 1px;
}
.img{
   height: 100%;
   width: 100%;
   display: inline;
  
}



.tcard{
    font-size:2rem;
    margin-top: -20%;
    margin-bottom: -24%;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}

.pcard{
    font-size: 1.2rem;
    text-align: center;
}
.Feature{
    color: aliceblue;
}


.stitle{
    text-align: left;
    font-size: 3rem;
    margin-top: -20px;
    margin-bottom: -30px;
    text-decoration: underline;
}


.endc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px  ;
    max-height: 700px;
}

.block2{
    width: 50%;
    
}

.block1{
    margin-left: 3%;
    align-self: center;
    
}

.bi{
    
    width: 100%;
    height: 100%;
}

.bot{
    font-size: 2rem;
    font-weight: 700;
}

